In [10]:
import yfinance as yf
import pandas as pd

# Ambil data emas melalui ETF GLD
df = yf.download("GLD", start="2023-01-01", end="2025-01-01", interval="1d")

# Simpan ke file
df.to_csv("../data/gld_clean.csv")

C:\Users\cahya ratri lukita p\AppData\Local\Temp\ipykernel_12068\3174093025.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("GLD", start="2023-01-01", end="2025-01-01", interval="1d")
[*********************100%***********************]  1 of 1 completed

In [11]:
df.head()

Price            Close        High         Low        Open   Volume
Ticker             GLD         GLD         GLD         GLD      GLD
Date
2023-01-03  171.059998  172.089996  170.020004  171.320007  7992900
2023-01-04  172.669998  173.089996  171.850006  172.860001  7574600
2023-01-05  170.520004  171.000000  169.789993  170.820007  4692600
2023-01-06  173.710007  173.960007  171.229996  171.759995  7889000
2023-01-09  174.100006  175.039993  173.880005  174.509995  5134500